#main {
  display: flex;
  align-items: center;
  flex-direction: column;

}

#github-container {
  display: flex;
}

div.profile {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
}

ul#user-list {
  list-style: none;
  width: 800px;
}

div.profile-description {
  display: flex;
  flex-direction: column;
  width: 80%;
  
}

div.profile-pic {
  width: 15%;
  margin: 24px;
}

img {
  border-radius: 16px;
  margin-bottom: 24px;
  width: 100%;
}

ul#repos-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

h4 {
  font-weight: bold;
}